<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>试题列表</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">

    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">

</head>

<body>

<div th:replace="admin/commons :: topnav"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="admin/commons :: leftnav(activeUri='paper/list')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2 style="margin-left: 35%">试卷列表</h2>
            <div class="table-responsive">
                <ul th:each="item:${items}">
                    <h5>[[${item.themeId}]],[[${item.theme}]]</h5>
                    <li>[[${item.op1}]]</li>
                    <li>[[${item.op2}]]</li>
                    <li>[[${item.op3}]]</li>
                    <li>[[${item.op4}]]</li>
                    <li style="color: red">答案：[[${item.correct}]];分值:[[${item.score}]]</li>
                    <li>解析：[[${item.note}]]</li>
                </ul>

                </table>
            </div>
            <!--分页-->
            <div th:replace="admin/commons :: pagehelper_paperId"></div>
        </main>

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../../static/js/jquery-3.2.1.slim.min.js"
        th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script type="text/javascript" src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- Icons -->
<script type="text/javascript" src="../../static/js/feather.min.js" th:src="@{/js/feather.min.js}"></script>
<script>
    feather.replace();
</script>
<!-- Graphs -->
<script type="text/javascript" src="../../static/js/Chart.min.js" th:src="@{/js/Chart.min.js}"></script>
</body>
</html>